h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.main-contents{
    margin: 0rem 1rem;
    line-height: 1.6rem;
}

.main-contents h2{
    margin: 1rem 0;
}

.list-container{
    margin-left: 1.5rem;
}
pre{
    text-align: center;
}
code{
    background-color: rgb(245, 245, 245);
}
footer{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}