@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.nav-item{
    font-weight: 600;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.identity-container{
    font-size: 18px;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
    background-color: #f8ff3a;
    border-bottom: 5px solid rgb(255, 82, 63);
    width: 100vw;
}
.nagivation-links{
    list-style: none;
}
.nagivation-links li{
    display: inline-block;
    padding-right: 30px;
}
.nagivation-link:hover{
    background-color: #488aec;
    padding: 10px;
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    transition: background-color ease-in 100ms, padding ease 200ms;
}

/* Media Queries */
@media screen and (max-device-width: 525px) {
    .desktop-nav{
        display: none;
    }
    .mobile-menu-button img{
        max-height: 20px;
    }
    header{
        justify-content: space-between;
    }
    .mobile-menu{
        display: none;
        width: 100%;
        background-color: rgb(248, 255, 208);
        position: absolute;
        /* top: 100%; */
        left: 0;
        color: black;
    }
    .mobile-menu ul{
        list-style: none;
    }
    .mobile-menu ul li{
        padding: 10px;
        display: flex;
        align-items: center;
        /* padding-bottom: 10px;
        padding-top: 10px; */
    }
    .mobile-menu ul li img {
        height: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .mobile-menu ul li a{
        text-decoration: none;
        color: #001a14;
    }
    .mobile-menu-button{
        background: none;
        border: none;
    }

}
@media (min-device-width: 526px){
    .mobile-menu-button, .mobile-menu{
        display: none;
    }
}