:root{
    --streak-container-bg-color: #e7fcff;
}
.main-contents{
    display: flex;
}
.left-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.new-entry-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.new-entry-button-container a{
    align-items: center;
}

.button-link{
    display: block;
    text-align: center;
    color: white;
    background-color: #488aec;;
    text-decoration: none;
    margin: 2px;
    padding: 0.75rem 1.5rem;
    width: 50%;
    border-radius: 30px;
}
.button-link:hover {
    background-color: #0084cb;
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
    transition: background-color 200ms ease-in, box-shadow 100ms ease-in;
}

.revision-container{
    background-color: #e7fcff;
    padding: 10px;
    border-radius: 10px;
    color: #00466c;
}

.revision-container h3{
    text-align: center;
    padding-bottom: 5px;
}
.date-area{
    text-align: center;
    line-height: 1.5rem;
    padding-top: 10px;
}

.card{
    /* max-width:max-content; */
    background-color: rgb(33, 150, 243);
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
}
.daily-revision-container{
    width: 100%;
}

#yesterday-date-container, #weekly-date-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#yesterday-date, #weekly-date{
    border-radius: 5px;
}

.topics-container{
    border-left: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #90e0ef;
}

.topic-card{
    display: inline-block;
    margin-left: 10px;
    padding: 5px;
    background-color: #0077b6;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.summaries-container{
    border-left: 2px solid black;
    padding-left: 5px;
    margin-bottom: 5px;
}

.summary-card{
    /* display: block; */
    background-color: #778da9;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#yesterday-revision-link, #week-ago-revision-link{
    width: 100%;
}

.txt-medium{
    font-size: 1rem;
}
.txt-medium-large{
    font-size: 1.2rem;
}



/* DOM manipulated styles */
.no-records-found{
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#no-records-txt-2{
    margin-top: 1rem;
}

/* Styling For Streak Section */
.streak-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 100%;
}
.streak-circle-container{
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
}
.streak-date{
    padding: .5rem;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}
/* Mobile Exclusive rules */
@media screen and (max-device-width: 768px){
    .main-contents{
        flex-direction: column;
    }
    .revision-container{
        margin: 1rem .25rem;
        border: 2px solid #0077b6;
        border-bottom: 3px solid #015481;
    }
    .right-container{
        margin: 1rem .25rem;
        padding: 0.25rem;
        background-color: var(--streak-container-bg-color);
        border-radius: 5px;
        border: 2px solid #540b0e;
    }
    .right-container img{
        display: none;
    }
    #yesterday-revision-link{
        width: 100%;
    }
    .streak-section{
        display: inline;
    }
    .streak-section-txt-lebel{
        display: inline;
    }
    .streak-circle-container{
        margin: .5rem 0rem;
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

/* Desktop Exclusive Rules */
@media screen and (min-device-width: 1024px){ 
    .inner-container{
        flex: 1;
        max-width: 100%;
    }
    .main-divider{
        background-color: #540b0e;
        width: 2px;
    }
    .right-container{
        padding: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .revision-container{
        border: 2px solid #00466c;
        margin: 0 0.75rem;
        padding: 0.75rem;
    }
    .streak-section{
        padding: 0.25rem;
        background-color: var(--streak-container-bg-color);
        border-radius: 5px;
        border: 2px solid #540b0e;
    }
    #book-image{
        display: block;
    }
}